.references {
  background-color: #111;
  .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;

    &:before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 180px;
      height: 3px;
      background: #fff;
      transform: translateX(-50%);
    }

    &:after {
      content: attr(subtitle);
      position: absolute;
      bottom: -9px;
      left: 50%;
      font-size: 20px;
      color: $primary-color;
      padding: 0 5px;
      background: #111;
      transform: translateX(-50%);
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.references .card {
  background: #222;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 30px;
  cursor: default;
  transition: all 0.3s ease;
  height: 100%;

  .card-body {
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .appreciation {
    transition: all 0.3s ease;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    //border-left: 4px solid $primary-color;
    padding-left: 16px;
    margin: auto;
    i {
      color: $primary-color;
      margin-bottom: 12px;
    }
  }

  .label {
    font-size: 25px;
    font-weight: 500;
    margin: 16px 0;
  }

  &:hover {
    background: $primary-color;
    .card-body {
      transform: scale(1.05);
    }
    .appreciation {
      border-left-color: $grey-60;
    }
  }
}

.references .carousel {
  .owl-stage {
    display: flex;
  }
  .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  .owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid $primary-color !important;
    transition: all 0.3s ease;
  }
  .owl-dot.active {
    width: 35px;
    border-radius: 14px;
  }
  .owl-dot.active,
  .owl-dot:hover {
    background: $primary-color !important;
  }
}
